<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.pantreasy">
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application android:allowBackup="true"
        android:name=".Pantreasy"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <service
            android:name=".DatabaseUpdates"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service
            android:name=".DatabaseUpdatesFull"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <activity
            android:name=".Login"
            android:label="login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DonorHomeActivity"></activity>
        <activity android:name=".PantryHomeActivity"/>
        <activity android:name=".DonorAddActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".DonorsPantryResponsesActivities"/>
        <activity android:name=".DonorHistoryActivity"/>
        <activity android:name=".PantryViewResponsesActivity"/>
        <activity android:name=".PantryViewDonationsActivity"/>
        <activity android:name=".PantryViewDonation"/>
        <activity android:name=".PantryViewDonationResponse"/>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>
